$loader-gradient: linear-gradient(
  107.52deg,
  #bce8ff 3.56%,
  rgba(218, 244, 255, 0.94) 50.39%,
  rgba(191, 216, 255, 0.895) 79.14%,
  rgba(164, 188, 255, 0.85) 100%
);

$glass-bg: rgba(255, 255, 255, 0.4);
$glass-blue-inner: rgba(173, 216, 230, 0.4);
$glass-border: rgba(235, 249, 253, 0.4);
$text-dark: #000000;
$accent-orange: #ff793e;
$white-bg: #fbfaf9;
