@use "../../styles/variables" as *;
.appSelect {
  border: 1px solid $accent-orange;
  border-radius: 15px;
  padding: 10px;
  position: relative;
  width: 280px;
  cursor: pointer;
}
.wrapper {
  width: 280px;
  position: absolute;
  left: 0;
  top: 110%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.appOptions {
  border: 1px solid $blue;
  border-radius: 15px;
  padding: 10px;
}
.appOptions:hover {
  background-color: $yellow;
  cursor: pointer;
}
