@use "../../styles/_variables"  as *;

.glassEffectWrapper {
  position: relative;
  z-index: 1;
}
.glassEffectText {
  font-family: "Sahitya";
  font-weight: 400;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0px;
  text-transform: uppercase;
  width: 878px;
  color: $text-dark;
  font-kerning: none;
}
.glassEffectLogoEmblem {
  padding: 10px 18px;
  position: absolute;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 15px;
  border: 0.1px solid $glass-border;
  box-shadow: inset 0 0 8px $glass-blue-inner;
  background-color: $glass-bg;
  backdrop-filter: blur(2.6px);
  overflow: hidden;
}
.icon {
  fill: $accent-orange;
  z-index: 3;
}
.glassEffectLogoEmblemText {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.1;
  letter-spacing: 0px;
  color: $text-dark;
}
