@use "../src/styles/_variables" as *;
.appContainer {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  background: $white-bg;
}
